[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "django>=5.2.9",
    "geopy>=2.4.1",
    "gunicorn>=23.0.0",
    "python-decouple>=3.8",
]
